<!DOCTYPE html>
<html lang="ko">

<head>
    <title>김규민 gyumingim</title>
    <meta name="google-site-verification" content="zgBBQeNqU-wJXHJtJuras3Ujf0a9y22vRA65kaqkFWc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="풀스택 개발자 김규민의 블로그입니다. 사이드 프로젝트, 개발 팁, 독창적인 아이디어와 다양한 기술 이야기를 공유합니다.">
    <meta name="robots" content="index, follow">
    <meta charset="UTF-8">
    <link rel="canonical" href="https://www.gyumingim.kro.kr">
    <link rel="icon" href="https://www.gyumingim.kro.kr/static/image/Profile.ico" type="image/x-icon">
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="김규민의 블로그">
    <meta property="og:description" content="풀스택 개발자 김규민의 사이드 프로젝트와 다양한 개발 이야기를 공유합니다.">
    <meta property="og:image" content="https://www.gyumingim.kro.kr/static/image/Profile.png">
    <meta property="og:url" content="https://www.gyumingim.kro.kr">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="김규민의 블로그">
    <meta name="twitter:description" content="풀스택 개발자 김규민의 사이드 프로젝트와 다양한 개발 이야기를 공유합니다.">
    <meta name="twitter:image" content="https://www.gyumingim.kro.kr/static/image/Profile.png">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../static/globals.css" />
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <h2 style="display: inline-block;">김규민</h2>
                <span>gyumingim</span>
            </a>
        </nav>
    </header>
    <main>
        <div class="header-container">
            <a href="/">
                <h3 style="margin-bottom: .5rem;   display: inline-block;">
                    About ↘
                </h3>
            </a>
            <a href="award">
                <h3 style="margin-bottom: .5rem;   display: inline-block;">
                    Awards ↘
                </h3>
            </a>
            <h3 style="margin-bottom: .5rem;    display: inline-block;  color: white; background-color: black;">
                Works
            </h3>
            <a href="article">
                <h3 style="margin-bottom: .5rem;   display: inline-block;">
                    Article ↘
                </h3>
            </a>
        </div>
        <section>
            {% for work in data %}
            <a style="display: block; margin-bottom: 0.4rem;" href="work/{{ work.id }}">
                <span>
                    <b>{{ work.title }}:</b>
                </span>
                <span>
                    {{ work.subtitle }}
                </span>
                <time style="font-family: RobotoMono,monospace; font-size: .8rem; font-weight: 400;">
                    {{ work.date }}
                </time>
            </a>
            {% endfor %}
        </section>
    </main>
    <footer style="font-size: .8rem; color: #767676;">
        © 2025 김규민
    </footer>
</body>

</html>